:root {
    --fg-color: #fefefe;
    --bg-color-1: #121212;
    --bg-color-2: #242424;
}
body {
    color: var(--fg-color);
    background-color: var(--bg-color-1);
}

nav {
    height: 64px;
    padding: 5px;
    background-color: var(--bg-color-2);
}
footer {
    left: 0px;
    width: 100%;
    bottom: 10px;
    position: fixed;
    text-align: center;
}
a { text-decoration: none; }
i.icon-margin { margin-left: 5px; }
tbody { border-top: 2px solid #cbcbcb !important; }
input.is-invalid { border: 1px solid var(--bs-red) !important; }
form#authform {
    width: 500px;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--bg-color-2);
}
form#authform a.form-redir {
    top: 8px;
    float: left;
    position: relative;
    text-decoration: none;
}
form#authform .form-group input {
    color: var(--fg-color-1);
    border: 1px solid var(--bg-color-1);
    background-color: var(--bg-color-1);
}
form#authform h3 { margin-bottom: 20px; }
form#authform button { float: right; }
form#authform .form-group { margin-bottom: 25px; }
form#authform .form-group label { margin-bottom: 5px; }
ul.navbar-nav li.nav-item:not(:first-child) { padding-left: 15px; }
span.filesize {
    right: 16px;
    position: absolute;
}
div.file-container div.card {
    left: 50%;
    width: 95%;
    margin-top: 20px;
    transform: translateX(-50%);
}
#loading-content {
    width: 50%;
    height: 70%;
    display: none;
}
#content { padding: 25px; }
.pcenter {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) !important;
}
.file-container {
    width: 40%;
    margin: 25px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid var(--bg-color-2);
}
.dropdown-item { cursor: pointer; }
.tcenter { text-align: center; }
.file-container h4 { margin-top: .5rem;}
.file-container hr {  margin: .5rem 0; }

/* Bootstrap custom modal dark theme */
.modal-dialog {
    width: 650px;
    max-width: 650px;
}
.bootbox-close-button { display: none; }
.modal-content { background-color: var(--bg-color-1); }
.modal-footer { border-top: 1px solid var(--bg-color-2); }
.modal-header { border-bottom: 1px solid var(--bg-color-2); }