{% extends "base.html" %}
{% block content %}
    <style>

        /* Friends Page CSS */
        .fl {
            width: 45%;
            margin: 0;
            height: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
            border-radius: 5px;
            border: 1px solid var(--bg-color-2);
        }
        .fl-container {
            width: 50%;
            height: 100%;
            margin-top: 25px;
            
            /* Centering */
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }
        .fl-search-region {
            margin: auto;
            width: fit-content;
        }
        .fl-search-region input[type = "text"] {
            width: 360px;
            display: inline;
        }
        .fl-search-region button {
            transform: translateY(-1px);  /* Without this, it looks off and I'm not sure why */
        }
        .fl-left { float: left; }
        .fl-right { float: right; }
    </style>
    <div id = "loading-content" class = "pcenter" style = "width: 65%;">
        <div class = "fl-search-region">
            <input type = "text" class = "form-control" placeholder = "Search for users via name and ID..." id = "user-search" autofocus>
            <button class = "btn btn-primary position-relative">
                <i class = "bi bi-people"></i>
                <span class = "position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">69</span>
            </button>
        </div>
        <div class = "fl-container">
            <div id = "friend-results" class = "fl fl-left">
                <h4 class = "tcenter">Friends</h4>
                <hr>
            </div>
            <div id = "all-results" class = "fl fl-right">
                <h4 class = "tcenter">All Results</h4>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src = "/s/js/bootbox.js"></script>
    <script src = "/s/js/wt.spinner.min.js"></script>
    <script>
        startSpinner();
        $.get("/user/api/files", (r) => {
            stopSpinner();
            $("#loading-content").css("display", "block");
        });
    </script>
{% endblock %}
